.component-sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    color: #999999;
}

.item-menu a:hover{
    color: #ffffff;
}

.item-menu a:active{
    color: #ffffff;
}

.item-menu {
    display: flex;
    flex-direction: column;
}

.item-menu a{
    white-space: nowrap;
    font-family: "Lato", sans-serif;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
    top: 50px;
    font-size: 36px;
    text-decoration: none;
    cursor: pointer;
    color: #aaaaaa;
}