<div class="user-detail" *ngIf="user">
  <div class="user-element">
    <div class="user_avatar">
      <a href=""><img src={{user.avatar_url}} alt="" style="width:150px;height:200px;"></a>
    </div>
    <h2> {{ user.login }}</h2>
      <p class="user_type"> {{ user.type }}</p>
      <mat-icon>home</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>linkedin</mat-icon>
      <mat-icon>close</mat-icon>
  </div>
  
  <div class="user_button">
    <a href={{user.html_url}}>Repozytorium</a>
  </div>
 
</div>  